:root{
    --clr-primary-400: hsl(158, 36%, 37%);
    --clr-primary-500: hsl(158, 36%, 13%);
    --clr-secondary-200: hsl(30, 38%, 92%);

    --clr-neutral-900: hsl(212, 21%, 14%);
    --clr-neutral-400: hsl(228, 12%, 48%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --ff-accent: "Fraunces", serif;
    --ff-base: "Montserrat", sans-serif;


    --fw-regular: 500;
    --fw-bold: 700;


}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
h1,h2, h3{
    line-height: 1;
}
/* general styling */
body{
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: .875rem;
    color: var(--clr-neutral-400);
    background-color: var(--clr-secondary-200);

    display: grid;
    place-content: center;
    height: 100vh;
}

/* Utility */
.pricing{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}
.container{
    --content-padding: 1.5rem;
    --content-spacing: 1rem;

    background-color: var(--clr-neutral-100);
    border-radius: .5rem;
    overflow: hidden;
    display: grid;
    max-width: 600px;

}
@media(min-width: 600px){
  .container{
    --content-padding: 2rem;
    grid-template-columns: repeat(2, 1fr);

  }
}

.inner{
    display: grid;
    padding: var(--content-padding);
    gap: var(--content-spacing);
}
.category{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: .825rem;
}
.title{
    font-family: var(--ff-accent);
    color: var(--clr-neutral-900);
}
.sale__price{
  font-size: 2rem;
  font-family: var(--ff-accent);
  color: var(--clr-primary-400);
}
.original__price{
  text-decoration: line-through;
}
button{
  background-color: var(--clr-primary-400);
  border: 0;
  border-radius: .5rem;
  padding: 10px 15px;
  color: var(--clr-secondary-200);
  border: var(--clr-neutral-100) 4px solid;
  font-weight: var(--fw-bold);
  font-size: .925rem;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;

}
button:is(:hover, :focus){
  background-color: var(--clr-primary-500);
  cursor: pointer;

}
button[data-icon="shopping-cart"]::before{
  content: "";
  width: 15px;
  height: 16px;
  background-image: url(images/icon-cart.svg);
}
